header{
    width: 100%;
    background-color: #ff6700;
    color: white;
    height: 110px;

}
header img{
    height: 100px;
    cursor: pointer;
}
.container{
    display: flex;
    height: 100%;
    justify-content: center;
    vertical-align: top;
    align-items: baseline;
}
