body {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    /* background-color: #f0f0f0; */
    background-color: #ff6600;    
    /* padding: 20px; */

 
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 25px auto ;
    padding: 50px;
    background-color: #fffcf7;        
    border: 5px solid #ff6700;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1; /* Ensure form is above bubbles */    
}

h2 {
    font-size: 24px;
    color: #0019ff;
    margin-bottom: 20px;
    text-shadow: 1px 1px #ff6700;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #0019ff;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"] {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #0019ff;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    /* background-color: #fffcf7; */
    background-color: #f0f0f07b;
    box-shadow: 2px 2px #ff6700;
}

button {
    padding: 15px 30px;
    background-color: #0019ff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    align-self: center;
    box-shadow: 3px 3px #ff6700;
}

button:hover {
    background-color: #ff6700;
    color: #ffffff;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group-full {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group label {
    flex: 0 0 48%;
}

/* Bubbles */
.bubbles {
    position: absolute;
    bottom: 0;
    z-index: 5;
    background-color: rgba(76, 0, 255, 0.204);
    border-radius: 50%;
    opacity: .50;
    width: 40px;
    height: 40px;
    animation: up 15s infinite ease-in-out;
  }
  
  .bubble-2 {
    left: 350px;
    animation: up 5s infinite;
  }
  
  .bubble-3 {
    left: 750px;
    opacity: .30;
    animation: up 7s infinite;
  }
  
  .bubble-4 {
    left: 1150px;
    animation: up 9s infinite;
  }
  
  .bubble-5 {
    left: 50px;
    animation: up 8s infinite;
  }
  
  .bubble-6 {
    left: 300px;
    opacity: .30;
    animation: up 6s infinite;
  }
  
  .bubble-7 {
    left: 670px;
    animation: up 7s infinite;
  }
  
  .bubble-8 {
    left: 1050px;
    opacity: .30;
    animation: up 6s infinite;
  }
  .background-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 50px; /* Space for bubbles to start from */
    background-image: url('/img/wave-forms.png'); /* Define a imagem a ser usada */      
    
    /* background-repeat: no-repeat; */
    background-repeat: repeat-x;         
    /* background-size: contain; */
    background-position-y: bottom;

}
  /* Bubbles Animation */
@keyframes up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-2000px);
    }
  }

@media (max-width: 600px) {
    .form-group label {
        flex: 0 0 100%;
    }
}
