
.orange {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;    
    /* height: 50vh; */
    background-color: #ff6700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px; 
    box-sizing: border-box;
    background-image: url('/assets/wave-home.png');
    background-position: bottom;
    background-repeat: repeat-x;
    padding-top: 100px;
}

.blue {
    vertical-align: text-top;
    position: relative  ;
    color: white;    
    padding: 70px;
    top: -25px;
    /* overflow: hidden; */
}

.blue::after {
    content: '';
    position: absolute;
    bottom: -70px; /* Coloca a imagem no canto inferior */
    right: 340px; /* Coloca a imagem no canto direito */
    width: 220px; /* Define a largura da imagem */
    height: 170px; /* Define a altura da imagem */
    background-image: url('/assets/peixe.png'); /* Define a imagem a ser usada */
    background-size: cover; /* Faz a imagem cobrir todo o espaço */
    transform: rotate(20deg); /* Rotaciona a imagem em 45 graus */
}
#txt1 {
    font-size: 1.3rem;
    font-weight: bolder;
    margin: 0 0 20px 0;
}
#txt2 {
    font-size: 1rem;
}


.blue .title {
    font-size: 3rem;
    font-weight: bolder;    
}

.blue .txt {
    font-size: 25px;
    font-weight: lighter;
}

.blue-box {
    /* position: relative; */
    /* top: 50vh; */
    left: 0;
    width: 100%;
    background-color: #0019ff;
    /* background-color: black;     */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.white {
    background-color: white;
    color: black;
    padding: 20px;    
}

.white .txt {
    font-size: 25px;
    font-weight: lighter;
}

.email-form {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
}

.email-field {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    background-color: #0019ff;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.btn-field {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    background-color: #0019ff;
    color: white;    
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    letter-spacing: 2px;
}

  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0019ff;
    color: white;
  }
  
@media only screen and (max-width: 768px) {
    .blue {
        /* max-width: 300px;         */
    }

    .white {
        max-width: 400px;
    }
    .blue::after {
        bottom: -70px; /* Coloca a imagem no canto inferior */
        left:160px;
        width: 180px;
        height: 150px;        
        /* overflow: hidden;  */
        /* max-width: calc(100% - 220px);  */        
    }

}

