.container-home {
    /* position: relative; */
    /* height: 100vh; */
    overflow: hidden;
}

.orange {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;    
    height: 50vh;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}

.blue {
    background-color: #0019ff;
    color: white;
    padding: 20px;
}

.blue .title {
    font-size: 3rem;
    font-weight: bolder;
}

.blue .txt {
    font-size: 25px;
    font-weight: lighter;
}

.black {
    position: relative;
    /* top: 50vh; */
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.white {
    background-color: white;
    color: black;
    padding: 20px;
    max-width: 90vw;
}

.white .txt {
    font-size: 25px;
    font-weight: lighter;
}

.email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.email-field {
    width: 100%;
    max-width: 300px;
    height: 30px;
    border: 1px solid black;
    background-color: #0019ff;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.btn-field {
    width: 100%;
    max-width: 300px;
    height: 30px;
    border: 1px solid black;
    background-color: #0019ff;
    color: white;    
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    letter-spacing: 2px;
}
  .wave{
    top:0;
    left: 0;
    position: relative;
  }
  
  .waves {
    position:relative;
    width: 100%;
    /* max-height:10vh; */
    margin-bottom:-7px; /*Fix for safari gap*/
    height:100%;
    max-height:300px;
    align-content: end;    
  }

  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  g{
    background-color: black;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

  @media only screen and (min-width: 1200px) {

    .waves {
        height:100px;
        min-height:100px;
        align-content: normal;
      }


}

@media only screen and (max-width: 768px) {
    .blue {
        max-width: 300px;        
    }

    .white {
        max-width: 400px;
    }
    .waves {
        height:40px;
        min-height:40px;
        align-content: normal;
      }
 
      h1 {
        font-size:24px;
      }

}

