@import url('https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css');
.card {
  margin: 10px;          
  flex-direction: column;
  align-items: center;     
  border-radius: 10%;       
}
.movie-img { 
  width: 75%; 
  height: auto; 
  border-radius: 10%;             
}
.card:hover {
  transform: scale(1.075);
  transition: transform 0.5s;
  cursor: pointer;     
}
header {
    background-color: #ff6700;
    padding: 20px;
    text-align: center;
  }
header img {
    max-width: 150px;
    height: auto;
  }
h1 {
    text-align: center;
    margin-top: 20px;
  }