.card {    
  flex: 1 1 200px; /* flex-grow flex-shrink flex-basis */
  max-width: 100%; /* Garante que o card não ultrapasse a largura do container */
  min-width: 10px; /* Largura mínima do card */
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  align-items: center;
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box; 
  }

  .card-icon {
    font-size: 3rem;
  }
  .card-icon img {
   height: 50px;
  }
  .card-title {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .card-description {
    font-size: 1rem;
    margin-bottom: 20px;
    word-wrap: break-word;
  }

  

  .footer {
    text-align: center;    
    background-color: #0019ff;
    color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
  }

  .footer a {
    color: white;
    text-decoration: none;
  }
  .footer-univali {
    color: white;
    text-decoration: none;
    background-color: #ff6700;  
    justify-content: center;
    text-align: center;
    position: inherit;
    background-image: url('/assets/wave-footer.png');  
    padding-top: 60px;  
  }
  .footer-univali img{
    height: 50px;    
  }
  /* .card-univali {
    padding: 20px;
    width: 100%;
  } */
  .card-univali {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center; /* Alinha horizontalmente ao centro */
    width: 100%; /* Ajuste conforme necessário */
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
  }

  .card-univali img {
      max-width: 125px; /* Ajuste conforme necessário */
      height: auto;
      margin: 0 10px; /* Espaçamento entre a imagem e os textos */
  }

  .card-univali .left {
      text-align: right;
      font-size: 0.8rem;
      font-weight: 600;
      margin-right: 10px; /* Ajuste conforme necessário */
  }

  .student-note {
    font-size: 0.8rem;
    margin-top: 10px;
  }

  .footer-univali a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
   
  .footer-univali a:hover {
    color: #0019ff;
    cursor: pointer;
  }
  .titulo{
    font-size: 1.3rem;
    padding: 15px;
    font-weight: 600;
  }

  .footer-univali div {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }


   



  @media (max-width: 480px) {
    .card {
      width: calc(100% - 40px);
    }
  }